<li>
  <span class="content2"><%= workout.name %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(workout.created_at) %> ago.
  </span>
  <% if current_user?(workout.user) %>
    <%= link_to "delete", workout, method: :delete,
                                     data: { confirm: 'You sure?' },
                                     title: workout.name %>
  <% end %>
</li>`